[Unit]
Description=OpenLDAP directory server

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/openldap.pid %t/openldap.ctr-id
ExecStart=/usr/bin/podman run \
    --detach \
    --env=LDAP_* \
    --conmon-pidfile=%t/openldap.pid \
    --cidfile=%t/openldap.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --volume=data:/var/lib/openldap:Z \
    --volume=/dev/log:/dev/log \
    --network=host \
    ${OPENLDAP_SERVER_IMAGE}

# Wait until TCP port is ready
ExecStartPost=/usr/bin/sleep 1
ExecStartPost=/usr/bin/bash -c "while ! exec 3<>/dev/tcp/${LDAP_IPADDR}/${LDAP_PORT}; do sleep 5 ; done"

ExecStop=/usr/bin/podman stop --ignore --cidfile %t/openldap.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/openldap.ctr-id
PIDFile=%t/openldap.pid
Type=forking
WorkingDirectory=%S/state

[Install]
WantedBy=default.target
